<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" id="http://uhyohyohyo.sakura.ne.jp/zipdn" version="1.0.0">
  <name>zipdn</name>
  <description xml:lang="ja">ブラウザでリンクを複数選んでまとめてzipにしてダウンロードできます。</description>
  <description xml:lang="en">It's for me!</description>
  <author href="http://uhyohyohyo.sakura.ne.jp">uhyo</author>
  <license>MIT License</license>
  <icon width="64" height="64" src="icons/icon64.png"/>
  <access origin="*"/>
</widget>
